In [9]:
# Import Pandas for data manipulation
import pandas as pd

In [20]:
df = pd.read_csv('feature_counts.csv',sep='\t', skiprows=1)

In [27]:
df.head()

,Geneid,Chr,Start,End,Strand,Length,SRR22269872,SRR22269873,SRR22269874,SRR22269875,SRR22269876,SRR22269877,SRR22269878,SRR22269879,SRR22269880,SRR22269881,SRR22269882,SRR22269883
0,ENSG00000160072,1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;...,1471765;1471784;1477274;1477274;1478026;147864...,1472089;1472089;1477350;1477350;1478745;147874...,+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;...,7686,1,0,0,0,0,0,1,0,0,0,0,0
1,ENSG00000279928,1;1;1;1;1,182696;183132;183494;183740;183981,182746;183216;183571;183901;184174,+;+;+;+;+,570,0,0,0,0,0,0,0,0,0,0,0,0
2,ENSG00000228037,1;1;1,2581560;2583370;2584125,2581650;2583495;2584533,+;+;+,626,0,0,0,0,0,0,0,0,0,0,0,0
3,ENSG00000142611,1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;...,3069168;3069183;3069197;3069203;3069211;318612...,3069296;3069296;3069296;3069296;3069296;318647...,+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;...,9767,0,0,0,0,0,0,0,0,0,0,0,0
4,ENSG00000284616,1;1;1;1,5301928;5303328;5304401;5306942,5302004;5303393;5305029;5307394,-;-;-;-,1225,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:
# Rename the sample columns
df.columns = [col.replace("_aligned.bam", "") for col in df.columns]

print("Updated column names:\n", df.columns)

Updated column names:
 Index(['Geneid', 'Chr', 'Start', 'End', 'Strand', 'Length', 'SRR22269872',
       'SRR22269873', 'SRR22269874', 'SRR22269875', 'SRR22269876',
       'SRR22269877', 'SRR22269878', 'SRR22269879', 'SRR22269880',
       'SRR22269881', 'SRR22269882', 'SRR22269883'],
      dtype='object')

In [28]:
# Extract gene counts by selecting columns with SRR IDs only
gene_counts = df.loc[:, df.columns.str.startswith("SRR")]

gene_counts.index = df['Geneid']

gene_counts.head()

,SRR22269872,SRR22269873,SRR22269874,SRR22269875,SRR22269876,SRR22269877,SRR22269878,SRR22269879,SRR22269880,SRR22269881,SRR22269882,SRR22269883
Geneid,,,,,,,,,,,,
ENSG00000160072,1,0,0,0,0,0,1,0,0,0,0,0
ENSG00000279928,0,0,0,0,0,0,0,0,0,0,0,0
ENSG00000228037,0,0,0,0,0,0,0,0,0,0,0,0
ENSG00000142611,0,0,0,0,0,0,0,0,0,0,0,0
ENSG00000284616,0,0,0,0,0,0,0,0,0,0,0,0

In [29]:
# Save the gene counts DataFrame to a new CSV file
gene_counts.to_csv("gene_counts_only.csv")

In [25]:
# Creating the sample information DataFrame
sample_info = pd.DataFrame({
    'Sample': [
        'SRR22269883', 'SRR22269882', 'SRR22269881',  # Mock 24H
        'SRR22269880', 'SRR22269879', 'SRR22269878',  # SARS-CoV-2 24H
        'SRR22269877', 'SRR22269876', 'SRR22269875',  # Mock 72H
        'SRR22269874', 'SRR22269873', 'SRR22269872'   # SARS-CoV-2 72H
    ],
    'Condition': [
        'Mock', 'Mock', 'Mock',  # 24H Mock
        'SARS-CoV-2', 'SARS-CoV-2', 'SARS-CoV-2',  # 24H SARS-CoV-2
        'Mock', 'Mock', 'Mock',  # 72H Mock
        'SARS-CoV-2', 'SARS-CoV-2', 'SARS-CoV-2'   # 72H SARS-CoV-2
    ],
    'TimePoint': [
        24, 24, 24,  # 24H samples
        24, 24, 24,  # 24H samples
        72, 72, 72,  # 72H samples
        72, 72, 72   # 72H samples
    ]
})

sample_info.set_index('Sample', inplace=True)

print("Sample Information:\n", sample_info)

Sample Information:
               Condition  TimePoint
Sample
SRR22269883        Mock         24
SRR22269882        Mock         24
SRR22269881        Mock         24
SRR22269880  SARS-CoV-2         24
SRR22269879  SARS-CoV-2         24
SRR22269878  SARS-CoV-2         24
SRR22269877        Mock         72
SRR22269876        Mock         72
SRR22269875        Mock         72
SRR22269874  SARS-CoV-2         72
SRR22269873  SARS-CoV-2         72
SRR22269872  SARS-CoV-2         72